{% extends 'base.html' %} {% load static %}

{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>¿Quién Soy?</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}">Inicio</a>
                        <span>¿Quién soy?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about__pic">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="about__pic__item about__pic__item--large set-bg"
                                data-setbg="{% static 'img/mario-1.jpg' %}"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="about__pic__item set-bg" data-setbg="{% static 'img/about/about-2.jpg' %}"></div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="about__pic__item set-bg" data-setbg="{% static 'img/about/about-3.jpg' %}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__text">
                    <div class="section-title">
                        <span>Acerca de Mí</span>
                        <h2>¿Quién soy?</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="{% static 'img/icons/si-3.png' %}" alt="">
                                </div>
                                <h4>Creador de Contenido</h4>
                                <p>Doy vida a tus ideas con contenido visual que deja huella, 
                                   prestando atención a cada detalle en la edición para que tu mensaje se eleve y sobresalga.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="{% static 'img/icons/si-2.png' %}" alt="">
                                </div>
                                <h4>Storytelling</h4>
                                <p>Transformo ideas en historias que resuenan 
                                    en cada detalle para que tu mensaje brille con claridad y emoción.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about__text__desc">
                        <p>Soy Sergio Quintanilla, un informático de profesión con una pasión inquebrantable por el arte. 
                            Durante más de cinco años, he colaborado con marcas líderes en el mercado, 
                            fusionando la precisión técnica con la creatividad visual. 
                            Mi formación está respaldada por certificaciones en diseño gráfico y edición de videos profesionales, 
                            avaladas por la Senescyt y el Ministerio de Trabajo. 
                            Este equilibrio entre tecnología y arte me permite transformar ideas en realidades visuales impactantes, 
                            siempre buscando llevar cada proyecto al siguiente nivel.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial spad set-bg" data-setbg="{% static 'img/testimonial-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title center-title">
                    <span>Loved By Clients</span>
                    <h2>What clients say?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonial__slider owl-carousel">
                <div class="col-lg-4">
                    <div class="testimonial__item">
                        <div class="testimonial__text">
                            <p>Delivers such a great service that it can benefit all kinds of people from any number
                                of industries.</p>
                        </div>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="{% static 'img/testimonial/ta-1.jpg' %}" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Krista Attorn</h5>
                                <span>Web Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial__item">
                        <div class="testimonial__text">
                            <p>Videographer delivers such a great service that it can benefit all kinds of people
                                from any number.</p>
                        </div>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="{% static 'img/testimonial/ta-2.jpg' %}" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Krista Attorn</h5>
                                <span>Web Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial__item">
                        <div class="testimonial__text">
                            <p>Videographer delivers such a great service that it can benefit all kinds of people
                                from any number.</p>
                        </div>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="{% static 'img/testimonial/ta-3.jpg' %}" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Krista Attorn</h5>
                                <span>Web Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial__item">
                        <div class="testimonial__text">
                            <p>Delivers such a great service that it can benefit all kinds of people from any number
                                of industries.</p>
                        </div>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="{% static 'img/testimonial/ta-1.jpg' %}" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Krista Attorn</h5>
                                <span>Web Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial__item">
                        <div class="testimonial__text">
                            <p>Videographer delivers such a great service that it can benefit all kinds of people
                                from any number.</p>
                        </div>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="{% static 'img/testimonial/ta-2.jpg' %}" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Krista Attorn</h5>
                                <span>Web Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->
{% endblock content %}

{% block counter %} {% endblock counter %}
