.work__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ajusta el número de columnas según lo que desees */
    gap: 15px;
}

.work__item {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    aspect-ratio: 4/3; /* Establece una proporción */
}

.wide__item {
    grid-column: span 2;
    aspect-ratio: 8/3; /* Proporción más ancha */
}

.large__item {
    grid-column: span 2;
    grid-row: span 2;
    aspect-ratio: 4/6; /* Proporción más alta */
}

.set-bg {
    background-size: cover !important;
    background-position: center !important;
}
